@model IEnumerable<OrtDriver.Models.Conductor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConductorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConductorSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInscripto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConductorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConductorSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscripto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConductorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConductorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConductorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
